* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary-color: aliceblue;
}

body {
    background-color:  var(--primary-color);
}


::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}


body h1{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    line-height: 1;
}

body p{
    font-family: 'Karla', sans-serif;
}

body button{
    font-family: 'Karla', sans-serif;

}

body a {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

header, .main-timeline, footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display:flex;

}



header {
    margin-bottom: 20px;
    padding:1.2rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.title-logo {
    display: flex;
    justify-content: space-between;

}

.title-logo button img {
    height: 60px;
    width: auto;
    
}

.title-logo h1{
    font-size: 25px;
}

.title-logo button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
    background: none;
    border: none;
}

.user-options{
    display: flex;
    gap:1rem;
    align-items: center;
    
}


.user-options a{
    background-color: var(--primary-color);    
    padding:5px 10px;
    border-radius: 10px;
}


.user-options button img{
    height: 20px;
    width: auto;
}

.nav-menu {
    margin-top:15px;
    display: flex;
    justify-content: space-between;
}




footer {
    margin-top: auto;
    height:12vh;
    padding:1.5rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between
}



.main-timeline {
    margin-bottom: 20px;
    padding:2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    min-height: 70vh;

}



.display-preview{
    width:100%;
    position: relative; 
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    z-index: 1;

    .banner-image img {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter:  blur(3px) brightness(40%) contrast(70%);
        z-index: -1;
    }
}


.video-display{
    margin-top:2rem;
    width:100%;
    display: flex;
    align-items: center;
    gap:2rem;
    box-sizing: border-box;
    padding:2rem 1rem;
    overflow: hidden;
}


.product-preview {
    padding:1.5rem;
    width:100%;

}

.item-list{
    gap:3rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:1rem;
}

.print-product{
    width:240px;
    border:none;
    padding:1.3rem;
    text-align: left;
    text-wrap: wrap;
    background-image:linear-gradient( white, var(--primary-color));
    border-radius:10px;
    display:flex;
    flex-direction: column;
}

.print-product img {
    width: 200px;
    aspect-ratio: 4/5;
    object-fit: cover;
    margin: 0 auto;
}


.print-info{
    margin-top:0.5rem;
    line-height: 1;
    
}

.scrolling-buttons{
    display: flex;
    justify-content: space-between;
    position: relative;
    top:140px;
    
}

.scrolling-buttons button{
    position: relative;
    background-color: transparent;
    margin:-40px;
    border: none;
    
}

.scrolling-buttons  img{
    width:20px;
}

#scroll-left img {
    width:20px;
    transform: scaleX(-1);
}






.sign-in{
    width:80%;
    height:100%;
    background-color: rgb(255, 255, 255);
    padding:1rem;
    box-sizing: border-box;
}

.sign-in h1{
    font-size: 30px;
    font-family: Playfair Display, serif;
    margin-bottom: 1rem;
}

.form-group{
    font-family: Karla, sans-serif;
    margin-bottom: 15px;

}

#form button {
    box-sizing: border-box;
    margin: 1rem 0rem;
    display: block;
    margin-left: auto;

}





/*producto*/

.product-container{
    width:80%;
    overflow:hidden;
}

.product-details{
    padding: 1rem 0rem;
    display:flex;
    width:100%;
    flex-wrap: wrap;
    height: 100%;
    flex-direction:row;
    gap:2rem;
    justify-content:center;

}

.product-text{
    width:20vw;
}

#product-image {
    width:20vw;
    aspect-ratio: 4 / 5; 
    object-fit: cover;   
}

#product-title {
    background-color: aliceblue;
    font-size: 1.6rem;
    font-weight: 600;
    padding:10px;
    text-transform: uppercase;

}


#product-price {
    background-color: aliceblue;
    font-size: 1rem;
    font-weight: 500;
    padding:10px
}

#product-price::after {
    content:' CLP';
}

#product-artist {
    margin-top: 0;
    padding-top: 0;
}


#product-year {
    margin-bottom: 0;
    padding-bottom: 0;
}


.image-previews{
    display: flex;
    gap:1px;
    width:20vw;
    margin-top:5px;
}
.image-previews img {
    width:33%;
    aspect-ratio: 1 /1;
    object-fit: cover;
}




/*blogs*/


.blogs-display {
    width: 100%;
    gap:1rem;
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 0.5rem;             
}

.blog-item {
    display: flex;
    height:200px;
    width: 100%;
    overflow: hidden;
    border: none;
    background-color: transparent;

}

.blog-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.blog-post img {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    height: 200px; 
    object-fit: cover;
}

.blog-post p {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.blog-post .title {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 0;
}

.blog-post .blog-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.entry-display {
    width:80%;
    display: flex;
    flex-direction: column;
    min-height:70vh;
}

#blog-details img {
    width:100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
}

#blog-title {
    text-transform:uppercase;
    font-weight: 600;
    margin:0;
}

.back-button button{
    width:150px;
    margin-top: 1rem;
    border:none;
    background-color: none;
    padding:8px;
    border-radius: 15px;
}

.back-button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.cart-button {
    border:none;
    background-color: #5c7fa0;
    padding:10px;
    text-align: center;
    border-radius: 15px;
    color:white;
    font-weight: 600;
    width:100px;

}

.carrito {
    display: flex;
    justify-content: flex-end;
}



.cart-display{
    padding:1rem 0rem;
}
.cart-main{
    width:70%;
}

.cart-action{
    margin-top: 20px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:0.5rem;
    margin: 0.2rem 0rem;
    
}

.cart-total{
    font-family: 'Karla', sans-serif;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 0.5rem 0rem;
    margin: 1rem 0rem;
}

.cart-image img{
    width:120px;
    height:120px;
    object-fit: cover;
}

.cart-text p{
    margin:0;
}

#precio{
    font-weight: 600;
}




.catalog-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:inherit;
    gap:2rem;

    
}

.title-banner{
    width:100%;
    margin: 0rem 0rem 1rem 0rem;
    text-align:center;    
}

.title-banner h1{
    font-weight:100;

}

.add-button{
    border:none;
    background-color:transparent;
}

.add-button img{
    width:25px;
    height:25px;
}


.price-row {
  display: flex;
  justify-content: space-between; 
}


.social-media {
    padding-top:1rem;
    display:flex;
    gap:0.5rem;
    height:20px;
}

.social-media img {
    width:18px;
    height:18px;

}


.footer-nav {
    display:flex;
    flex-direction:column;
}